/* Set document default styles for text */
body {
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: khaki;
    margin: 40px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
      margin-top: 1em;
  }
  input,
  textarea{
      font: georgia;
      border: 1px solid;
  }
  label{
      display: inline-block;
      }

    button {
     border-radius: 1px;
     background-color: snow;
    }
    input:focus{
        border-color: lavenderblush;
    }
    textarea {
        border-color: lavenderblush;
        padding: 10px;

    }
    label,
    textarea {
        letter-spacing: 1px;
    }
    label{
        display: block;
    }